<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body>
    <div class="center">
        <h1>Basic calculator</h1>
        <form action="result">
            <input type="number" name="number1" placeholder="Enter first number">
            <br>
            <br>
            <input type="number" name="number2" placeholder="Enter second number">
            <br>
            <br>
            <button type="submit" name = 'add'>add</button>
            <button type="submit" name="subtract">subtract</button>
            <button type="submit" name="multiply">multiply</button>
            <button type="submit" name="divide">divide</button>
        </form>


    </div>
    <style>
        .center {
            margin:auto;
            width: 60%;
            border:3px solid #a5addb;
            padding: 10px;
        }
    </style>
</body>
</html>